[submodule "Операционные системы/os_lab1"]
	path = Операционные системы/os_lab1
	url = https://github.com/FreezinMoon/os_lab1
[submodule "Операционные системы/os_lab2"]
	path = Операционные системы/os_lab2
	url = https://github.com/FreezinMoon/os_lab2
[submodule "Веб программирование/web4"]
	path = Веб программирование/web4
	url = https://github.com/FreezinMoon/web4
[submodule "Архитектура компьютера/csa_lab3"]
	path = Архитектура компьютера/csa_lab3
	url = https://github.com/FreezinMoon/csa_lab3
[submodule "Системы ввода-вывода/assignment-1-io-library"]
	path = Системы ввода-вывода/assignment-1-io-library
	url = https://gitlab.se.ifmo.ru/II/assignment-1-io-library
